body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 14px;
}

/********************** header style **************************/
header{
	width: 100%;
	position: fixed;
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	background: white;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

nav{
	float: left;
	position: relative;
	padding-top: 35px;
}

nav > ol > li > a{
	color: #737373;
}

nav > ol > li > a:hover{
	color: #D8D8D8;
}

.login{
	float: right;
    padding-top: 7px;
}

.login > img{
	position: absolute;
}

.login > select, .login > a{
	color: #737373;
	padding-left: 5px;
}

.login > a:hover{
	text-decoration: underline;
}
.select-lang{
	border: none;
}

ul{
	display: inline-flex;
	list-style-type: none;
	float: right;
}

.wrapper{
    width: 940px;
	margin: 0 auto;
}

.devider{
	padding-left: 10px;
    padding-right: 10px;
}

 ol {
	list-style-type: none;
	display: -webkit-box;
}

ol > a{
	text-decoration: blink;
	color: black;
}

.comverse-logo{
	float: left;
}

.search-box{
	border-radius: 7px;
    width: 128px;
    border: none;
    outline: none;
    padding: 3px;
}
.search-form{
	float: right;
	border: 1px solid #D2D2D2;
	height: 22px;
	margin-top: 17px;
	border-radius: 7px;
}

.search-form > img{
    position: absolute;
    padding: 0;
}

.search-form button{
	border: none;
	background-color: transparent;
	position: relative;
    top: 2px;
    outline: none;
}
/**********************End - header style **************************/

/********************** first section style **************************/
.first-section{
	background: url(../img/slide-bg-complexity.jpg) no-repeat center center fixed;
	height: 550px;
	width: 100%;
	margin: 0 auto; /*rania*/
		
	color: white;
}

.first-h1{
	padding-top: 80px;
}

h1{
	font-weight: 100;
	font-size: 36px;
	line-height: 1.1em;
	margin-bottom: 0.2em;
}

h3{
	font-weight: 100;
}

.section1-boxes{
	width: 300px;
	height: 170px;
	float: left;
	border-radius: 7px;
	opacity: 0.85;
	cursor: pointer;
}

h2{
	font-size: 24px;	
	font-weight: 100;
	padding-left: 10px;
}

.section1-boxes:hover{
	opacity: 1;
}

.learn-btn, .sol-btn, .success-stories-btn{
	color: white;
	background-color: #2290C8;
	width: 175px;
	padding: 10px;
	border-radius: 7px;
	border: none;
	text-align: left;
}
.sol-btn{
	position: relative;
	top: 65px;
}
.learn-btn:hover,.sol-btn:hover, .success-stories-btn:hover{
	background-color: #63B8EE;
	cursor: pointer;
}

.learnMoreArrow{
	float: right;
}

.selected{
	background-color: #2E95CA !important;
}
.carousel > a > li {
	width: 5px;
	height: 5px;
	background-color: white;
	padding: 3px;
	border-radius: 2px;
	margin-left: 5px;
}

.carousel > a > li:hover{
	background-color: #2E95CA;
}
.carousel {
	-webkit-padding-start: 0px;
	margin-bottom: 50px;
}

.left, .middle{
	margin-right: 20px;
}

.left{
	background-color: #EA0094;
}

.middle{
	background-color: #6AC43D;
}

.right{
	background-color: #FF7519;
}

.more{
	padding-left: 10px;
	color: white;
}

.more:hover{
	text-decoration: underline;
}

/**/
.second-section{
	background-color: #50AED0;
	width: 100%;
	height: 350px;
	text-align: center;
}

.second-section > div > h1, .third-section > div > h1, .success-stories-section > div > h1{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 2.5em;
}

a{
	text-decoration: none;
}

.second-section > div > ul > li > a{
	color: white;
	position: relative;
	top: 50px;
}

.second-section > div > ul > li{
	padding-left: 10px;
	padding-right: 10px;
}

.solutions-list{
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 30px;
}

.business{
	background-image: url(../img/solution_icon_biz-analitics.png);
}
.customer-experience{
	background-image: url(../img/solution_icon_diti-cx.png);
}
.smart-monetization{
	background-image: url(../img/solution_icon_smart-money.png);
}
.optimization-efficiency{
	background-image: url(../img/solution_icon_optimize-efficnt.png);
}
.choice-control{
	background-image: url(../img/solution_icon_personal.png);
}
.business-transformation{
	background-image: url(../img/solution_icon_biz-transform.png);
}

.business:hover{
	background-image: url(../img/solution_icon_biz-analitics_hover.png);
}

.customer-experience:hover{
	background-image: url(../img/solution_icon_diti-cx_hover.png);
}
.smart-monetization:hover{
	background-image: url(../img/solution_icon_smart-money_hover.png);
}
.optimization-efficiency:hover{
	background-image: url(../img/solution_icon_optimize-efficnt_hover.png);
}
.choice-control:hover{
	background-image: url(../img/solution_icon_personal_hover.png);
}
.business-transformation:hover{
	background-image: url(../img/solution_icon_biz-transform_hover.png);
}

.third-section{
	background: url(../img/news-and-events-bg.jpg) no-repeat center center fixed;
	width: 100%;
	height: 350px;
	text-align: center;
	background-size: cover;
}

.comverse-events{
	width: 300px;
	height: 170px;
	float: left;
	text-align: left;
	color: white;
}

.news, .events{
	margin-right: 20px;
}

.comverse-events-box{
	cursor: pointer;
	background-color: rgba(255,255,255,0.4);
	width: 300px;
	height: 105px;
	font-size:2em;
	margin-bottom: 10px;
}

.comverse-events-box:hover{
	background-color: white;
}

h1.events-date{
	width: 65px;
	margin: 0 auto;
	float: left;
	font-weight: 400;
	text-align: center;
	background-color: #50AED0;
	opacity: 1;
	color: white;
	font-size: 24px;
	border-radius: 3px;
	margin: 10px;
}

.event-day{
	border-bottom-style: dotted;
	display: block;
	font-size: 36px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.event-month{
	font-size: 18px;
}

.events-p{
	font-size: 16px;
	color: black;
	padding-top: 13px;
	line-height: 1.3;
}

.all{
	color:white;
}

.all:before{
	float: left;
	width: 24px;
	height: 22px;
	content: "";
	margin-right: 5px;
}

.all-news:before{
	background: url(../img/eventListIconNews.png) no-repeat 50% 50%;

}

.all-events:before{
	background: url(../img/eventListIconEvents.png) no-repeat 50% 50%;
}

.all-press-releases:before{
	background: url(../img/eventListIconPress.png) no-repeat 50% 50%;
}

.all-news:hover:before{
	background: url(../img/eventListIconNews_hover.png) no-repeat 50% 50%;
}

.all-events:hover:before{
	background: url(../img/eventListIconEvents_hover.png) no-repeat 50% 50%;
}

.all-press-releases:hover:before{
	background: url(../img/eventListIconPress_hover.png) no-repeat 50% 50%;
}

.all:hover:before{
	float: left;
	width: 24px;
	height: 22px;
	content: "";
	margin-right: 5px;
}

.all:hover{
	color: black;
}

.success-stories-section{
	background-color: #ECECEC;
	width: 100%;
	height: 500px;
	text-align: center;
	background-size: cover;
}

.success-stories-section > div > ul{

	float: left;
	padding: 0;
}

.success-stories-section > div > h1{
	color: #565656;
	padding-bottom: 0;
}


.success-stories-list > li{
	display: inline-block;
	width: 38%;
	float: left;
	margin: 4px;
	padding: 2px;
	font-size:12px;
}

.success-stories-right{
	width: 22% !important;
}

.success-stories-middle{
    margin-top: 16.5px !important;
}

blockquote{
	background-color: white;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	height: 180px;
}

blockquote > p{
	font-size: 15px;
	height: 90px;
	padding: 15px;
	border-bottom: 1px solid #DDDDDD;
	color: #565656;
	text-align: left;
}

blockquote > span{
	background: url(../img/3mob_w108px_X_h95px.jpg) no-repeat 50% 50%;
}

.success-stories-left > blockquote > p, .success-stories-right > blockquote > p{
	font-size: 17px;
	line-height: 1.5;
}

.person-img{
	float: left;
	padding: 10px;
	height: 100px;
	width: 100px;
}

.quote{
	float: left;
    padding: 5px;
    height: 20px;
    width: 27px;
    padding-top: 0;
}

.per-details{
	text-align: left;
	padding-left: 10px;
	display: inline-block;
	float: left;
}

.per-details > p > a{
	color: #50AED0;
}

.per-details > p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	padding: 2px;
}

.per-logo{
	float: right;
}

.company-logo {
	display: inline-block;
	width: 31%;
	margin: 0px 5px 0 0;
	background: #FFF;
	border-radius: 3px;
	text-align: center;
}

.right-company-logo{
	width: 46%;
}

.company-logo > img{
	width: 100%;
	height:95px;
}

.companies{
	margin-top: 5px;
	width: 102%;
}

.success-stories-blockquote:before{
	 background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 26%; /*350px*/
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.right-blockquote:before{
	width: 15.1% !important; 
}

.success-stories-blockquote:hover:before{
	height: 180px;
}

.company-logo:before{
	 background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 8.3%;
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.company-logo:hover:before{
	height: 98px;
}

.right-company-logo:before{
	width: 7.1% !important;
}

.scroll-to-top{
    position: absolute;
    left: 332px;
    margin-top: 29px;
}

footer{
	height: 350px;
	background-color: #1E1E1E;
}

.f-links{
	float: left;
	margin-right: 30px;
	line-height: 22px;   
}

.f-links > ul{
	display: block;
	padding: 0;
	float: none;
}

.f-links > ul > li > a{
	color: white;
}

.f-links > ul > li > a:hover{
	text-decoration: underline;
}	

.f-header{
	font-size: 16px;
	color:white;
}

.f-box{
	float: right;
	background-color: #3d3d3d;
    width: 265px;
	position: relative;
	height: 350px;
	padding: 0px 10px;
}

.latest-blog-posts{
	border-bottom: 1px solid #6A6A6A;
}

.f-box-header{
    color: #4EA7D3;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
}

.f-date{
	width: 60px;
	height: 80px;
	padding: 2px;
	float: left;
	margin: 0 10px 0 5px;
}

.f-day{
	font-size: 2.6rem;
	margin: 0;
	text-align: center;
	line-height: 2.2rem;
	font-weight: 400;
}

.f-month{
	font-size: 1.4rem;
	margin-left: 6px;
	text-align: center;
}

.latest-blog-posts-text{
	margin: 0 8px;
	padding: 1px 5px;
	font-size: 1rem;
	font-weight: 100;
}

.latest-blog-posts-text > p{
	margin: 0 0 18px 0;
	line-height: 20px;
}


.latest-blog-posts-content:hover{
	text-decoration: underline;
}
.latest-blog-posts-content{
	color: white;
}

.email{
    width: 170px;
    line-height: 2.5em;
    border-radius: 3px;
    border: none;
    margin: 0 5px;
    padding-left: 8px;
    color: gray;
    outline: none;
    padding-right: 8px;
}

.sign-up{
    background: #2290C8;
    border-radius: 3px;
    border: none;
    color: white;
    line-height: 2.4em;
    margin-left: -8px;
    padding: 2px 6px;
    position: absolute;
    cursor: pointer;
}

.social-icons{
	position: absolute;
	bottom: 0;
}

.youtube-icon {
    background: url(../img/socialMenuIcon-youtube.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.twitter-icon {
    background: url(../img/socialMenuIcon-twitter.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.linkedin-icon {
    background: url(../img/socialMenuIcon-linkdin.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.youtube-icon:hover {
	background: url(../img/socialMenuIcon-youtube_hover.png) no-repeat;
}

.twitter-icon:hover {
	background: url(../img/socialMenuIcon-twitter_hover.png) no-repeat;
}

.linkedin-icon:hover {
	background: url(../img/socialMenuIcon-linkdin_hover.png) no-repeat;
}


.f-nav{
    margin-right: 0px;
    font-size: 14px;
    width: 401px;
    height: 20px;
    float: left;
    margin-top: 58px;
    display: inline-block;
}

.f-nav-list{
    float: none;
    margin: 0px;
    padding: 0px;
}

.f-nav-list > li, .f-nav-list > li > a{
	color: gray;
}

.f-nav-list > li > a:hover{
	text-decoration: underline;
}

/* **********************************************
  MEDIA QUERIES 
************************************************* */
@media all and (max-width: 1004px) and (min-width: 768px) {
  .wrapper{
  	padding: 0;
    max-width: 768px;
    margin: 0 auto;
  }
  .comverse-logo > img{
    width: 95px;
    height: 32px;
  }
  .comverse-logo{
    padding: 30px 5px;

  }
  nav{
	font-size: 10px;
}
  .search-form{
  	float: right;
    display: inline-block;
    position: relative;
    border:none;
 
  }
.search-box{
	border: 2px solid #a1a1a1;
    border-radius: 5px;
    margin: 0;
    height: 18px;
    display: inline-block;
    position: relative;
    width: 148px;
}
.section1-boxes{
	width: 200px;
	cursor: pointer;
	margin-right: 20px;
	padding: 10px 15px;
}
.section1-boxes h2{
	font-size: 18px;
}
.left h2{
	margin-bottom: 60px;
}
.middle h2{
	margin-bottom: 20px;
}
.right h2{
	margin-bottom: 60px;
}
.section1-boxes a{
	float: bottom;

}

/********************************************* Responsive Design*********************************************/
html{
	font-size: 100%;
}